Repository DragoKnight404/chatbot-app: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy Backend, Deploy Frontend

Deploy Backend:
              steps {
                  echo "‚úÖ Change detected in /backend. Starting Docker build and deploy..."
                  script {
                      IMAGE_NAME = "${ECR_REPO_URI}:${env.BUILD_NUMBER}"
                  }
                  echo "Building image: ${IMAGE_NAME}"
  ...

Deploy Frontend:
              steps {
                  echo "‚úÖ Change detected in /frontend. Syncing files to S3..."
                  withAWS(region: "${AWS_REGION}") {
                      s3Upload(
                          bucket: "${S3_BUCKET_NAME}", 
                          source: 'frontend',          
  ...

Updated Jenkins file
  frontend/index.html
Due: Deploy Frontend

Fixed Jenkins file error
  Jenkinsfile
Due: none

Changed index file
  frontend/index.html
Due: Deploy Frontend

frontend changes
  frontend/index.html
Due: Deploy Frontend

Jenkins file updated fixed frontend deployment error
  Jenkinsfile
Due: none

Jenkins deployment test 6
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

Color changes
  frontend/index.html
Due: Deploy Frontend

Frontend deployment test 9
  frontend/index.html
Due: Deploy Frontend

Changes in index
  frontend/index.html
Due: Deploy Frontend

index change color
  frontend/index.html
Due: Deploy Frontend

Frontend and backend deployment testing
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

Changes in app and index
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

changed only in frontend
  frontend/index.html
Due: Deploy Frontend

Changes only in app.py
  backend/app.py
Due: Deploy Backend

Changes only in app.py this should hopefully work now
  Jenkinsfile
  backend/app.py
Due: Deploy Backend

THIS HAS TO WORK NOW, F+B changes
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

Please work at full change
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

Changed Jenkins file it no longer need ebdeploy lets see if it works as expected i doubt it though i am losing my mind at this point what even is the meaning of life i wish to touch some grass
  Jenkinsfile
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

new era backend only
  backend/app.py
Due: Deploy Backend

backend only hope 0
  Jenkinsfile
  backend/app.py
Due: Deploy Backend

Maybe there is hope
  Jenkinsfile
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

New era new pipeline
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

t1
  Jenkinsfile
Due: none

frontent test 1
  frontend/index.html
Due: Deploy Frontend

frontend test 2
  frontend/index.html
Due: Deploy Frontend

full test
  backend/app.py
  frontend/index.html
Due: Deploy Backend, Deploy Frontend

fail test
  Jenkinsfile
Due: none

fail test
  Jenkinsfile
  frontend/index.html
Due: Deploy Frontend

test
  Jenkinsfile
  frontend/index.html
Due: Deploy Frontend

Path conditions:
  Deploy Backend: any of: backend/**
  Deploy Frontend: any of: frontend/**
